		<form>
			<div class="p-form--tutorial-edit">
				<div class="p-form__item">
					<div class="c-title">
						<h1 class="c-title__text">パーソンの公開プロフィール完了</h1>
					</div>
				</div>
				<div class="p-form__item">
					<p class="c-text--attention">プロフィール登録が完了しました。
					</p>
					<p class="c-text">最適なマッチングは、
						プロフィール登録からスタートします。
						あなたの経験や希望を登録し、キャリアを広げる
						チャンスを掴んでください。的なテキスト
					</p>
				</div>

				<div class="p-form__btn-area">
					<p class="c-btn--person">
						<%= link_to "トップへ", root_path %>
					</p>
				</div>


			</div>
		</form>